$breakpoints: (
  "sm": "screen and (max-width: 500px)",
  "md": "screen and (min-width: 780px)",
  "lg": "screen and (min-width: 1000px)",
  "xl": "screen and (min-width: 1200px)",
) !default;

@mixin mq($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
$font-family: "Josefin Sans", sans-serif;

body {
  width: 100%;
  height: 100vh;
  margin: 0%;
  padding: 40px 20px 20px 20px ;
  box-sizing: border-box;
  background-color: rgb(240, 219, 193);
  @include mq("sm") {
    padding: 20px;
  }
}

.line1 {
  display: flex;
  justify-content: space-around;
  @include mq("sm") {
    display: block;
  }

  .title {
    background-color: rgb(180, 180, 180);
    width: 85%;
    @include mq("sm") {
      width:fit-content;
    }
    h1 {
      font-size: 3em;
      font-family: $font-family;
      color: white;
      text-shadow: 3px 2px #000000;
      margin-top: 7%;
      margin-left: 5%;
      @include mq("sm") {
        margin: 3% 0;
        padding:12px 8px;
        text-align: center;
        
      }
    }
  }
  .news {
    width: 47%;
    margin: 0% 3%;
    display: flex;
    @include mq("sm") {
      width:50%;
      margin: 0 2% 0 0;
    }
    .image {
      background-color: aqua;
      img {
        width: 50%;
        margin: 20%;
      }
    }
    .content {
      width: 200%;
      background-color: rgb(3, 170, 170);
      margin: 0%;
      padding: 0%;
      font-family: $font-family;
      h3 {
        font-size: 1.7em;
        margin: 10%;
        padding: 0%;
        color: white;
        @include mq("sm") {
          text-align: center;
          margin:40% 0 0 0;
        }
      }
      p {
        margin: 10% 0 0 5%;
        color: white;
        font-size: 1.2em;
        @include mq("sm") {
          display: none;
        }
      }
    }
  }
  .books {
    width: 47%;
    padding: 0;
    display: flex;
    @include mq("sm") {
      width:50%;

    }
    .image {
      background-color: rgba(255, 68, 0, 0.774);
      img {
        width: 45%;
        margin: 25%;
      }
    }
    .content {
      width: 200%;
      background-color: rgba(180, 49, 2, 0.733);
      margin: 0%;
      padding: 0%;
      font-family: $font-family;
      h3 {
        font-size: 1.7em;
        margin: 10% 10% 0% 10%;
        padding: 0%;
        color: white;
        @include mq("sm") {
          text-align: center;
          margin:40% 0 0 0;
        }
      }
    }
    p {
      margin: 10% 0 0 5%;
      color: white;
      font-size: 1.2em;
      @include mq("sm") {
        display: none;
      }
    }
  }
}
.section1{
  display: flex;
  @include mq("sm") {
    display: flex;
  }
}


//--------------------
// line 2
//-------------------
.line2 {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.box2 {
  // border: 1px solid red;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 100px;
    height: 100px;
  }

  .image,
  .image01,
  .text,
  .text01 {
    // border: 1px solid red;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      padding: 5px;
    }
  }

  .image {
    background-color: pink;
  }

  .image01 {
    background-color: rgb(250, 250, 144);
  }

  .text {
    font-family: $font-family;
    background-color: rgb(245, 145, 161);
    h3{
      font-size: 1.7em;
      margin: 5% 0 4% 0;
      padding: 0%;
    }
    p{
      margin: 0% 0 3% 0;
      padding: 0%;
      font-size: 1.3em;
    }
  }

  .text01 {
    font-family: $font-family;
    background-color: rgb(248, 248, 3);
    h3{
      font-size: 1.7em;
      margin: 5% 0 5% 0;
      padding: 0%;
    }
    p{
      margin: 0%;
      padding: 0%;
      font-size: 1.3em;
    }
    
  }
}

.box2_vertical {
  // border: 1px solid red;
  width: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  img {
    // border: 1px solid red;
    width: 100px;
    height: 100px;
  }

  .image02 {
    width: 100%;
    height: 100%;
    background-color: rgb(161, 160, 160);
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .text02 {
    width: 100%;
    height: 100%;
    background-color: rgb(145, 143, 143);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $font-family;
  }
  h3{
    font-size: 1.7em;
    margin: 25% 0 5% 0;
    padding: 0%;
  }
  p{
    margin: 0% 0 3% 0;
    padding: 0%;
    font-size: 1.3em;
  }
}

//--------line3---------//
.line3 {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  .mail {
    width: 49%;
    margin: 0% 2% 0 0;
    display: flex;
    @include mq("sm") {
      width:50%;
    }
    .image {
      background-color: deepskyblue;
      img {
        width: 50%;
        margin: 20%;
      }
    }
    .content {
      width: 200%;
      background-color: rgb(3, 142, 189);
      margin: 0%;
      padding: 0%;
      font-family: $font-family;
      h3 {
        font-size: 2.5em;
        margin: 8% 10% 0 10%;
        padding: 0%;
        color: white;
        @include mq("sm") {
          font-size: 1.7em;
          text-align: center;
          margin: 40% 0 0 0;
        }
      }
      p {
        margin: 5% 0 0 10%;
        color: white;
        font-size: 1.4em;
        @include mq("sm") {
          display: none;
        }
      }
    }
  }
  .music {
    width: 51%;
    padding: 0;
    display: flex;
    @include mq("sm") {
      width:50%;
    }
    .image {
      background-color: hotpink;
      img {
        width: 45%;
        margin: 25%;
      }
    }
    .content {
      width: 200%;
      background-color: rgb(180, 78, 129);
      margin: 0%;
      padding: 0%;
      font-family: $font-family;
      h3 {
        font-size: 2.5em;
        margin: 8% 10% 0 10%;
        padding: 0%;
        color: white;
        @include mq("sm") {
          font-size: 1.7em;
          text-align: center;
          margin: 40% 0 0 0;
        }
      }
      p {
        margin: 5% 0 0 10%;
        color: white;
        font-size: 1.4em;
        @include mq("sm") {
          display: none;
        }
      }
    }
  }
}
//--------------------
// img
//-------------------
.box4 img {
  width: 30px;
  height: 30px;
}

//--------------------
// line4
//-------------------
.box4 {
  // border: 1px solid red;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: rgb(216, 211, 211);

  img {
    width: 80px;
    height: 80px;
    padding: 15px;
  }
  img:hover {
    cursor: pointer;
  }
}
